@if $prevent_text_selection {
  body * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  button, .menu-item {
    pointer-events: auto !important;
  }
}
.tooltiptext {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 9999;
  pointer-events: none; /* ป้องกันการบังคับและการปิดตัว tooltips เมื่อคลิก */
  white-space: nowrap; /* ข้อความจะไม่ขึ้นบรรทัดใหม่ */
}

/* ปรับขนาดของ tooltips ตามข้อความ */
.tooltiptext::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.7) transparent transparent;
  transform: translateY(-50%);
}
